.make-tip {
  width: 90%;
  margin: 0 auto;
  position: fixed;
  top: 20%;
  left: 5%;
}
#marketing-btn, #build-btn {
  width: 42vw;
  height: 42vw;
  max-width: 220px;
  max-height: 220px;
  border-radius: 50%;
  border: 0;
  user-select: none;
}
.animated {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
  opacity: 0;
}

#marketing-btn h1, #build-btn h1 {
  margin: 0;
}

#build-btn {
  position:fixed;
  left: 5%;
  bottom: 25%;
}

#marketing-btn {
  position:fixed;
  right: 5%;
  bottom:25%;
}
