.Header {
  color: white;
  left: 0;
  position:fixed;
  top: 0;
  width: 100%;
  background: #282C35;
  z-index:4;
}
.Header h1 {
  display: inline-block;
  width: 31%;
  margin: 5% 1%;
  text-align: center;
}
