.Start {
  text-align: center;
}

.Start h1 {
  margin: 0;
}
h5 {
  margin-top: 0;
  text-transform: uppercase;
}

.PlayBtn {
  background: #00b77a;
  color: white;
  font-size: 30px;
  padding: 20px;
  text-decoration: none;
  border-radius:5px;
}
